<style>
    body{
        overflow-x: visible;
    }
</style>

<h1 class="page-title">About HIDS <small><small><span class="fw-semi-bold">Host Intrusion Detection System</span></small></small></h1>
<div class="row">
    <div class="col-md-10 col-lg-offset-1 ">
        <section class="widget text-white" style="background-color: #4C614C;">
            <header>
                <h4><span class="fw-semi-bold">Some Description about HIDS.</span>
                    <br><br>
                    <ul>
                        <li>
                            1st Point.
                        </li><br>
                        <li>
                            2nd Point.
                        </li><br>
                        <li>
                            3rd Point.
                        </li><br>
                    </ul>

                </h4>
            </header>
            
            <img src="img/architecture.png" style="width: 900px; height: 600px;">
        </section>
    </div>


</div>