<!-- jquery ui sortable chrome overflow-x fix. when set to hidden does not behaves as expected. resetting back
     just for this page.
     http://bugs.jqueryui.com/ticket/9588 -->
<style>
    body{
        overflow-x: visible;
    }
</style>
<h1 class="page-title">Contact US- <span class="fw-semi-bold">Big Data Analysis for Security</span></h1>
<div class="row">
    <div class="col-md-7 col-lg-offset-1">
        <section class="widget">
            <header>
                <h4>Mayur Jain, mayurj07@gmail.com</h4><br>
                <h4>Gaurav Bajaj, goru97@gmail.com </h4><br>
                <h4>Puneet Popli, puneetpopli.26pp@gmail.com </h4><br>
                <h4>Tushar Karkera, tusharkarkera1610@gmail.com </h4><br>
                <br>
                <h4>Address:</h4><br>
                <h4>San Jose State University<br>{{contact.message}}</h4>
            </header>
        </section>
    </div>
</div>

