<h1 class="page-title">Analytics Dashboard
    <small>
        <small>Big Data Analytics</small>
    </small>
</h1>

<section class="widget">
    <link type="text/css" rel="stylesheet" href="/stylesheets/css/uploadFile.css">
    <header>
        <h5><span class="fw-semi-bold">Widget Name</span></h5>

        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </header>
    <div class="row widget-body">

        <div class="col-md-9">
            Widget Body Content.
        </div>
    </div>
</section>

<!--**********************************************************************************************************************************-->

<section class="widget">
    <header>
        <h5><span class="fw-semi-bold">2nd Widget</span></h5>

        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="mt">
            Body Content.
        </div>
    </div>


</section>

