<h1 class="page-title">Kibana Analytics Dashboard
    <small>
        <small>Big Data Analytics</small>
    </small>
</h1>

<section class="widget">

    <header>
        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </header>
    <div class="row widget-body">

        <iframe id="kibana-iframe" src="http://104.130.20.82:5601/"
                style="margin:0; width:100%; height:500px; border:none; overflow:hidden;" scrolling="yes"
                onload="AdjustIframeHeightOnLoad()"></iframe>
    </div>
</section>


<!--

<section class="widget">
    <header>
        <h5><span class="fw-semi-bold">2nd Widget</span></h5>

        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="mt">
            Body Content.
        </div>
    </div>
</section>
-->

